.itemContainer{
    margin:20px;
}
.itemContainer .title{
  font-size: 30px;
  margin-left: 12px;
  margin-right: 50px;
  width: 50;
  padding: 16px;
  background-color: balck;
  background: #576957;
  width: 50%;
  text-align: center;
   color: wheat;
}

.itemContainer .index{
  margin-left: 11px;
    margin-top: 20px;
    font: 14px;
    font-size: 30px;
    margin-bottom: 2px;
}
.itemContainer .idxline{
  border-top: 1px solid grey;
    flex-grow: 1;
    width: 52%;
    padding: 2px;
    margin-top: 1px;
    margin-left: 10px;
}
  

a {
  text-decoration: none;
  color: 	#0366D6;
}